USE [RPA_Condor]
GO
/****** Object:  Table [dbo].[config_file_settings]    Script Date: 6/2/2020 7:25:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[config_file_settings](
	[Name] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[RobotId] [nvarchar](max) NULL,
	[ConfigType] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[log_robot]    Script Date: 6/2/2020 7:25:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log_robot](
	[id] [uniqueidentifier] NOT NULL,
	[log_level_id] [int] NULL,
	[robot_id] [nvarchar](max) NULL,
	[robot_user] [nvarchar](max) NULL,
	[robot_machine] [nvarchar](max) NULL,
	[process_id] [nvarchar](max) NULL,
	[message] [nvarchar](max) NULL,
	[log_type] [nvarchar](max) NULL,
	[time] [datetime] NULL,
	[transaction_id] [nvarchar](max) NULL,
 CONSTRAINT [PK_log_robot] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[config_file_settings] ([Name], [Value], [Description], [RobotId], [ConfigType]) VALUES (N'GetRobotData', N'Get_Robot_Data_4610', NULL, N'Robot_4610', N'Settings')
INSERT [dbo].[config_file_settings] ([Name], [Value], [Description], [RobotId], [ConfigType]) VALUES (N'RetryNumber', N'2', N' If > 0, the robot will retry the same transaction which failed with a system exception. Must be an integer value.', N'', N'Constants')
INSERT [dbo].[config_file_settings] ([Name], [Value], [Description], [RobotId], [ConfigType]) VALUES (N'logF_BusinessProcessName', N'Framework', N'Logging field which allows grouping of log data of two or more subprocesses under the same business process name
', N'Robot_4610', N'Settings')
GO
INSERT [dbo].[log_robot] ([id], [log_level_id], [robot_id], [robot_user], [robot_machine], [process_id], [message], [log_type], [time], [transaction_id]) VALUES (N'4acb1de0-92f8-4373-8e37-1d4a4da99783', 1, N'Robot_4610', N'carlos.rendon.duque', N'machine/carlos.rendon', N'1234512345', N'Transaction Successful.', N'', CAST(N'2020-06-02T18:48:29.560' AS DateTime), N'06/02/2020 18:48:28 Comite de Brechas y Desarollos')
INSERT [dbo].[log_robot] ([id], [log_level_id], [robot_id], [robot_user], [robot_machine], [process_id], [message], [log_type], [time], [transaction_id]) VALUES (N'6c9224db-f633-4f7d-ab2b-2696d7f73f38', 1, N'Robot_4610', N'carlos.rendon.duque', N'machine/carlos.rendon', N'1234512345', N'Transaction Successful.', N'', CAST(N'2020-06-02T18:48:12.597' AS DateTime), N'06/02/2020 18:48:11 Revisión requerimientos desarrollo dms')
INSERT [dbo].[log_robot] ([id], [log_level_id], [robot_id], [robot_user], [robot_machine], [process_id], [message], [log_type], [time], [transaction_id]) VALUES (N'd159fa60-39ad-4d6f-84f4-37c88e0425c0', 5, N'Robot_4610', N'carlos.rendon.duque', N'machine/carlos.rendon', N'1234512345', N'ExecutionFinished', N'ExecutionFinished', CAST(N'2020-06-02T18:48:36.027' AS DateTime), N'1234512345')
GO
/****** Object:  StoredProcedure [dbo].[Get_Config_File]    Script Date: 6/2/2020 7:26:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Get_Config_File]
(@RobotId nvarchar(max))
As
	select Name, Value
		from [dbo].[config_file_settings]
		WHERE RobotId=@RobotId and ConfigType in ('Settings','Assets')
	union
	select Name, Value
		from [dbo].[config_file_settings]
		WHERE  ConfigType='Constants'
GO
/****** Object:  StoredProcedure [dbo].[Get_Testing_Information]    Script Date: 6/2/2020 7:26:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Get_Testing_Information]
(@robot_name varchar(50))
As
	select *
		from [dbo].[testing_information] t
		where t.robot_name = @robot_name	
GO
/****** Object:  StoredProcedure [dbo].[Put_Robot_Log]    Script Date: 6/2/2020 7:26:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Put_Robot_Log]
(
		@log_level_id int
        ,@robot_id nvarchar(max)
        ,@robot_user nvarchar(max)
        ,@robot_machine nvarchar(max)
        ,@process_id nvarchar(max)
        ,@message nvarchar(max)
        ,@log_type nvarchar(max)
		,@transaction_id  nvarchar(max)
)
As
INSERT INTO [dbo].[log_robot]
           ([id]
           ,[log_level_id]
           ,[robot_id]
           ,[robot_user]
           ,[robot_machine]
           ,[process_id]
           ,[message]
           ,[log_type]
		   ,[time]
		   ,[transaction_id])
     VALUES
           (NEWID()
           ,@log_level_id
			,@robot_id 
			,@robot_user 
			,@robot_machine 
			,@process_id 
			,@message 
			,@log_type
			,GETDATE()
			,@transaction_id)
GO
/****** Object:  StoredProcedure [dbo].[PutTesting_Trace_Ended]    Script Date: 6/2/2020 7:26:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PutTesting_Trace_Ended]
(
@robot_name varchar(50))
As

		Insert testing_trace
							(
							id,
							robot_name,
							[started],
							ended
							)
		values
							(
							newid(),
							@robot_name,
							null,
							getdate()
							)
GO
/****** Object:  StoredProcedure [dbo].[PutTesting_Trace_Started]    Script Date: 6/2/2020 7:26:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PutTesting_Trace_Started]
(
@robot_name varchar(50))
As

		Insert testing_trace
							(
							id,
							robot_name,
							[started],
							ended
							)
		values
							(
							newid(),
							@robot_name,
							getdate(),
							null
							)
GO
